@model AnkhMorporkWebApp.Models.PlayerFoolViewModel
@{
    ViewBag.Title = "Player meets a Fool";
}

<div class="toast show" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">@Model.SloganStart </strong>
        <img src="@Url.Content("~/Content/Images/fool.png")" style="width: 200px; height: 200px;" />
    </div>
    <div class="toast-body">
        @Model.SloganFirstPart @Model.Fool.Practice @Model.SloganSecondPart @Model.Fool.Fee @Model.SloganEnd
        <div class="card-body">
            @Html.ActionLink("Yes", "Yes", "FoolsGuild", new
            {
                sum = Model.Fool.Fee,
                balance = Model.Player.Balance,
                beerAmount = Model.Player.BeerAmount
            },
                new { @class = "btn btn-outline-primary" })
            @Html.ActionLink("No", "No", "FoolsGuild", Model.Player, new { @class = "btn btn-outline-secondary" })
            @Html.ActionLink("Visit Pub", "Index", "Pub", Model.Player, new { @class = "btn btn-outline-warning" })
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> <i class="fas fa-dollar-sign"></i> Balance: @Model.Player.Balance AM$</li>
        <li class="list-group-item"> <i class="fas fa-beer"></i> Number of beer: @Model.Player.BeerAmount</li>
    </ul>
</div>
