@using AnkhMorporkWebApp.Models
@model AnkhMorporkWebApp.Models.PlayerFoolViewModel
@{
    ViewBag.Title = "Index";
}
<p>Current balance:</p> @Model.player.Balance

<h2>@Model.slogan @Model.fool.Practice @Model.slogans @Model.fool.Fee @Model.slogant</h2>
@Html.ActionLink("Yes", "Yes", "FoolsGuild", new { sum = Model.fool.Fee, balance = Model.player.Balance }, null)
@Html.ActionLink("No", "No", "FoolsGuild", Model.player, null)
