@model AnkhMorporkWebApp.Models.PlayerAssassinViewModel
@{
    ViewBag.Title = "Index";
}
<p class="text-primary"> <i class="fas fa-dollar-sign"></i> Balance: @Model.Player.Balance AM$</p>

@using (Html.BeginForm("Yes", "AssassinsGuild", FormMethod.Post))
{
    <div class="form-group row">
        @Html.HiddenFor(m => m.Player.Balance)
        @Html.HiddenFor(m => m.Player.BeerAmount)
        @Html.HiddenFor(m => m.BalanceOfPlayer)
        @Html.LabelFor(i => i.Amount, "Input sum")
        @Html.TextBoxFor(i => i.Amount, new { @type = "number" })
        @Html.ValidationMessageFor(i => i.Amount)
        <button name="action" class="btn btn-outline-primary" value="Yes">Yes</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
