@model AnkhMorporkWebApp.Models.PlayerAssassinViewModel
@{
    ViewBag.Title = "Player meets an Assassin";
}

<div class="toast show" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">@Model.SloganStart </strong>
        <img src="@Url.Content("~/Content/Images/assassin1.png")" style="width: 200px; height: 200px;" />
    </div>
    <div class="toast-body">
        <div class="card-body">
            @Model.SloganEnd
            <div class="card-body">
                @Html.ActionLink("Yes", "About", "AssassinsGuild", new { amount = Model.Player.Balance }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("No", "No", "AssassinsGuild", Model.Player, new { @class = "btn btn-outline-secondary" })
                @Html.ActionLink("Visit Pub", "Index", "Pub", Model.Player, new { @class = "btn btn-outline-warning" })
            </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> <i class="fas fa-dollar-sign"></i> Balance: @Model.Player.Balance AM$</li>
        <li class="list-group-item"> <i class="fas fa-beer"></i> Number of beer: @Model.Player.BeerAmount</li>
    </ul>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
