@using AnkhMorporkWebApp.Models
@model AnkhMorporkWebApp.Models.PlayerThiefModel
@{
    ViewBag.Title = "Index";
}
<h1>Current balance:</h1> @Model.player.Balance

<h2>@Model.slogan @Model.thief.Fee @Model.slogans</h2>
<img src="@Url.Content("~/Content/Images/thieve.png")" />
@Html.ActionLink("Yes", "Yes", "ThievesGuild", new { sum = Model.thief.Fee, balance = Model.player.Balance }, new { @class = "btn btn-outline-primary" })
@Html.ActionLink("No", "No", "ThievesGuild", Model.player, new { @class = "btn btn-outline-secondary" })
@Html.ActionLink("Get Beer", "Index", "Pub", Model.player, new { @class = "btn btn-outline-warning" })
