@using AnkhMorporkWebApp.Models
@model AnkhMorporkWebApp.Models.PlayerThiefModel
@{
    ViewBag.Title = "Index";
}
<h1>Current balance:</h1> @Model.player.Balance

<h2>@Model.slogan @Model.thief.Fee @Model.slogans</h2>

@Html.ActionLink("Yes", "Yes", "ThievesGuild", new { sum = Model.thief.Fee, balance = Model.player.Balance }, null)
@Html.ActionLink("No", "No", "ThievesGuild", Model.player, null)
