@using AnkhMorporkWebApp.Models
@model AnkhMorporkWebApp.Models.PlayerThiefModel
@{
    ViewBag.Title = "Player meets a thief";
}

<div class="toast show" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">@Model.sloganStart </strong>
        <img src="@Url.Content("~/Content/Images/thieve.png")" style="width: 200px; height: 200px; "  />
    </div>
    <div class="toast-body">
        @Model.sloganToPay @Model.thief.Fee @Model.sloganEnd 
        <div class="card-body">
            @Html.ActionLink("Yes", "Yes", "ThievesGuild", Model.player, new { @class = "btn btn-outline-primary" })
            @Html.ActionLink("No", "No", "ThievesGuild", Model.player, new { @class = "btn btn-outline-secondary" })
            @Html.ActionLink("Visit Pub", "Index", "Pub", Model.player, new { @class = "btn btn-outline-warning" })
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> Balance: @Model.player.Balance</li>
        <li class="list-group-item"> Amount of beer: @Model.player.BeerAmount</li>
    </ul>
</div>
