@using System.Diagnostics.Eventing.Reader
@using AnkhMorporkWebApp.Models
@model AnkhMorporkWebApp.Models.PlayerBeggarViewModel
@{
    ViewBag.Title = "Index";
}
<p>Current balance:</p> @Model.player.Balance
<img src="@Url.Content("~/Content/Images/beggar.png")" />
<h2>@Model.slogan @if (Model.begar.Fee == 0)
                  {
                      @Model.sloganBeer
                  }
                  else
                  {
                      @Model.sloganpay
                      @Model.begar.Fee
                  }  @Model.slogans</h2>
@Html.ActionLink("Yes", "Yes", "BeggarsGuild",
    new {
        balance = Model.player.Balance,
        fee = Model.begar.Fee
    }
    , new { @class = "btn btn-outline-primary" })
@Html.ActionLink("No", "No", "BeggarsGuild", Model.player, new { @class = "btn btn-outline-danger" })
@Html.ActionLink("Get Beer", "Index", "Pub", Model.player, new { @class = "btn btn-outline-warning"})
